<section class="CreateFormMain">

  <img class="logo" src="../../../../assets/trocaLivro.png" alt="troca_livro">
  <section Class="createLoginForm">
    <form action="" method="POST">

      <div class="div1">
        <h2 class="titulos">Dados pessoais</h2>
        <input class="FormPlace" name="CreateSubscriberEmail" type="text" placeholder="Escreva seu nome*">
        <input class="FormPlace" name="CreateSubscriberEmail" type="text" placeholder="Escreva seu sobrenome*">
        <input class="FormPlace" name="CreateSubscriberEmail" type="date" placeholder="*">
        <input class="FormPlace" name="CreateSubscriberEmail" type="tel" placeholder="Telefone*">
      </div>

      <div class="div2">
        <h2 class="titulos">Email e Senha</h2>
        <input class="FormPlace" name="CreateSubscriberEmail" type="email" placeholder="Escreva seu email*">
        <input class="FormPlace" name="CreateSubscriberPassword" type="password" placeholder="Escreva sua senha*">
        <input class="FormPlace" name="CreateSubscriberPassword" type="password" placeholder="Confirme sua senha*">
      </div>

      <div class="div3">
        <h2 class="titulos">Endereço</h2>
        <input class="FormPlace" name="CreateSubscriberEmail" type="text" placeholder="Cep*">
        <input class="FormPlace" name="CreateSubscriberEmail" type="text" placeholder="Rua*">
        <input class="FormPlace" name="CreateSubscriberEmail" type="text" placeholder="Nº*">
        <input class="FormPlace" name="CreateSubscriberEmail" type="text" placeholder="Bairro*">
        <input class="FormPlace" name="CreateSubscriberEmail" type="text" placeholder="Cidade*">
        <input class="FormPlace" name="CreateSubscriberEmail" type="text" placeholder="Complemento">
      </div>


      <p>Todos os campos com * são obrigatórios</p><button class="btnCreateAcount" type="submit" href="">Criar conta ></button>
      <a class="return" href="LoginForm" > < Voltar </a>

    </form>
  </section>

</section>
