<navigationMenu></navigationMenu>

<section class='slideInRight'>


    <div class="userProfile"  >

      <div class="userPhoto"><img src="../../../../assets/icons/camera.png" alt="camera" class="camIcon"></div>
      <h1 class="userName"> Olá, (nome do Usuário)</h1>

    </div>


  <ul class="profileOptions">
    <li class="option">
      Biblioteca (comming soon) <img src="../../../../assets/icons/book.png" alt="book" class="icon">
    </li>
    <a routerLink="/myAnnounces" style="text-decoration: none;">
    <li class="option">
      Meus anúncios <img src="../../../../assets/icons/announce.png" alt="megaphone" class="icon">
    </li>
    </a>
    <li class="option">
      Configurações <img src="../../../../assets/icons/config.png" alt="engine" class="icon">
    </li>

    <a routerLink="" style="text-decoration: none;">
    <li class="option" >
      Deslogar <img src="../../../../assets/icons/logout.png" alt="exit" class="icon">
    </li>
    </a>
  </ul>
</section>



