

<div class="menu">

<a href="//localhost:4200/recommended">
  <img src="../../../assets/menuIcons/homeIcon.png" alt="home" class="icon">
</a>

<a href="//localhost:4200/announcementSearch">
  <img src="../../../assets/menuIcons/searchIcon.png" alt="search" class="icon">
</a>

<a href="//localhost:4200/userProfile">
  <img src="../../../assets/menuIcons/bookIcon.png" alt="profile" class="icon">
</a>

<a href="//localhost:4200/favorites">
  <img src="../../../assets/menuIcons/hearthIcon.png" alt="favorites" class="icon">
</a>

</div>

