@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/reset.scss';
@import '../../../config-scss/variables.scss';
@import '../../../config-scss/animation.scss';

:host{

  .menu{
    display:flex;
    margin: auto rem-calc(0);
    position: fixed;
    flex-direction: column;
    background: var(--lightOrange);



    align-items: center;
    height: 100%;

    justify-content: center;
    width: rem-calc(50);

    .icon{
      display: flex;
      margin:  auto rem-calc(32);
      width: rem-calc(30);


    }
    .icon:hover{
      background: var(--orange);
    }
  }




}
