


  <ul class="menuList">

    <li class="menuItens">
      <a routerLink="/recommended">
        <img src="../../../assets/menuIcons/homeIcon.png" alt="home" class="icon">
      </a>
    </li>

    <li class="menuItens">
      <a routerLink="/announcementSearch">
        <img src="../../../assets/menuIcons/searchIcon.png" alt="search" class="icon">
      </a>
    </li>

    <li class="menuItens">
      <a routerLink="/userProfile">
        <img src="../../../assets/menuIcons/bookIcon.png" alt="profile" class="icon">
      </a>
    </li>

    <li class="menuItens">
      <a routerLink="/favorites">
        <img src="../../../assets/menuIcons/hearthIcon.png" alt="favorites" class="icon">
      </a>
    </li>

  </ul>

  <ul class="menuListMobile">
    <li class="menuItensMobile">
      <a routerLink="/recommended">
        <img src="../../../assets/menuIcons/homeIcon.png" alt="home" class="iconMobile">
      </a>
    </li>

    <li class="menuItensMobile">
      <a routerLink="/announcementSearch">
        <img src="../../../assets/menuIcons/searchIcon.png" alt="search" class="iconMobile">
      </a>
    </li>

    <li class="menuItensMobile">
      <a routerLink="/userProfile">
        <img src="../../../assets/menuIcons/bookIcon.png" alt="profile" class="iconMobile">
      </a>
    </li>

    <li class="menuItensMobile">
      <a routerLink="/favorites">
        <img src="../../../assets/menuIcons/hearthIcon.png" alt="favorites" class="iconMobile">
      </a>
    </li>

  </ul>


