@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/reset.scss';
@import '../../../config-scss/variables.scss';
@import '../../../config-scss/animation.scss';

:host{

  .menuListMobile{
    display:none;
  }
  .menuItensMobile{
    display: none;
  }
  .iconMobile{
    display: none;
  }

  .logo{
    display: absolute;
    margin-left: rem-calc(-250) ;
    margin-right: rem-calc(70);
    max-width: rem-calc(170);
  }

  .menuList{
    display:flex;
    position:relative;
    margin: rem-calc(0) 0 rem-calc(5) 0 ;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: rem-calc(60);
    background: var(--lightOrange);
    z-index: 10;
    }

    .menuItens{
      display: flex;
      flex-direction: row;
      width: rem-calc(110);
      height: rem-calc(40);
      padding: rem-calc(10);
      margin: rem-calc(20);
      background: var(--lightOrange);
      align-items: center;
      justify-content: center;
  }
  .menuItens:hover{
    background: var(--orange);
    transition: all 0.4s;

  }

  .icon{
    max-width: rem-calc(32);
  }

  a{
    text-decoration: none;
  }

  p{
    display: inline;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: 600;
  }


@media (max-width: 900px){

  .menuList{
    display: none;

  }

  .menuListMobile{
    display: flex;
    position: fixed;
    width: 100%;
    min-width: rem-calc(320);
    height: rem-calc(55);
    align-items: center;
    justify-content: center;
    background-color: var(--lightOrange);
    z-index: 10;
    top: 93%;


  }
  .menuItensMobile{
    display: inline-block;
    margin: 0 rem-calc(10);
    padding: rem-calc(10);
    background-color: var(--lightOrange);
    border-radius: rem-calc(50);
  }
  .menuItensMobile:hover{
    background-color: var(--orange);

  }
  .iconMobile{
    display: flex;
    max-width: rem-calc(32);
  }

}




}
