
<section class="formMain">

  <img class="logo" src="../../../../assets/trocaLivro.png" alt="troca_livro">
  <section Class="loginForm">
    <form action="/login" method="POST">

      <input class="formPlaceEmail" name="SubscriberEmail" type="email" placeholder="Type your email" required email>
      <input class="formPlacePassword" name="SubscriberPassword" type="password" placeholder="Type your password" required><br>

      <a href="" class="link" >Esqueci minha senha</a><br>
      <a href="register" class="link" >É novo por aqui? cadastre-se!</a><br>
      <button class="btnLogin" type="submit">login</button>


    </form>
  </section>

</section>

