<section class="CreateFormMain">

  <img class="logo" src="../../../../assets/trocaLivro.png" alt="troca_livro">
  <section Class="createLoginForm">

    <div *ngIf="Submitted" class="divSubmitted">
      <img src="../../../assets/success.png" alt="Usuário cadastrado com sucesso" class="success">
      <a href="" class="homeLink"> Ir para página inicial </a>
    </div>

    <div *ngIf="errorSubmit" class="divError">
      <p>Dados imcompletos ou incorretos. Por favor verifique os dados e tente novamente.</p>
    </div>

    <form class="LoginForm" novalidate [formGroup]="SubscriberForm" *ngIf="!Submitted">
      <div class="div1">
        <h2 class="titulos">Dados pessoais</h2>
        <input
          class="FormPlace"
          id="FirstName"
          type="text"
          placeholder="Escreva seu nome*"
          formControlName="FirstName"
          required
          >
        <input
          class="FormPlace"
          id="LastName"
          type="text"
          placeholder="Escreva seu sobrenome*"
          formControlName="LastName"
          required
          >
        <input
          class="FormPlace"
          id="Birthday"
          type="date"
          placeholder="*"
          formControlName="Birthday"
          required>
        <input
          class="FormPlace"
          id="SubscriberNumber"
          type="tel"
          placeholder="Telefone*"
          formControlName="SubscriberNumber"
          required>
      </div>

      <div class="div2">
        <h2 class="titulos">Email e Senha</h2>
        <input
          class="FormPlace"
          id="SubscriberEmail"
          type="email"
          placeholder="Escreva seu email*"
          formControlName="SubscriberEmail"
          required email>
        <input
          class="FormPlace"
          id="SubscriberPassword"
          type="password"
          placeholder="Escreva sua senha*"
          formControlName="SubscriberPassword"
          required>
      </div>

      <div class="div3">
        <h2 class="titulos">Endereço</h2>
        <input
          class="FormPlace"
          id="SubscriberCep"
          type="text"
          placeholder="Cep*"
          formControlName="SubscriberCep"
          required>
        <input
          class="FormPlace"
          id="SubscriberStreet"
          type="text"
          placeholder="Rua*"
          formControlName="SubscriberStreet"
          required>
        <input
          class="FormPlace"
          id="SubscriberStreetNumber"
          type="text" placeholder="Nº*"
          formControlName="SubscriberStreetNumber"
          required>
        <input
          class="FormPlace"
          id="SubscriberDistrict"
          type="text"
          placeholder="Bairro*"
          formControlName="SubscriberDistrict">

        <input
          class="FormPlace"
          id="SubscriberCity"
          type="text"
          placeholder="Cidade*"
          formControlName="SubscriberCity">
        <input
          class="FormPlace"
          id="Complement"
          type="text"
          placeholder="Complemento"
          formControlName="Complement" >
      </div>

      <div class="footerForm">
      <p>Todos os campos com * são obrigatórios</p>
      <button class="btnCreateAcount" type="submit" (click)= onSubmit() >Criar conta ></button>
      <a class="return" href="http://localhost:4200" >  Voltar </a>
      </div>



    </form>
  </section>

</section>
