<navigationMenu></navigationMenu>

<section class="slideInRight">
  <div class="title">
    <h1>Recomendados</h1>
  </div>

  <section class="main ">

    <div class="bookContainer ">
      <div class="bookImage"></div>
      <input type="image" src="../../../../assets/menuIcons/hearthIcon.png" alt="heartIcon" class="favorite" *ngIf="favoriteOff" (click)="favorite()">
      <input type="image" src="../../../../assets/icons/heartIconFull.png" alt="heartIcon" class="favorite" *ngIf="favoriteOn" (click)="noFavorite()">
      <ul class="infos">
        <li><h2 class="userName">Nome do Usuário - UF</h2></li>
        <li class="info">Título oferecido:</li>
        <li class="info">Título procurado:</li>
        <li class="info">Urgência:</li>
      </ul>
    </div>

    <div class="bookContainer ">
      <div class="bookImage"></div>
      <input type="image" src="../../../../assets/menuIcons/hearthIcon.png" alt="heartIcon" class="favorite" *ngIf="favoriteOff" (click)="favorite()" >
      <input type="image" src="../../../../assets/icons/heartIconFull.png" alt="heartIcon" class="favorite" *ngIf="favoriteOn" (click)="noFavorite()">
      <ul class="infos">
        <li><h2 class="userName">Nome do Usuário - UF</h2></li>
        <li class="info">Título oferecido:</li>
        <li class="info">Título procurado:</li>
        <li class="info">Urgência:</li>
      </ul>
    </div>

    <div class="bookContainer ">
      <div class="bookImage"></div>
      <input type="image" src="../../../../assets/menuIcons/hearthIcon.png" alt="heartIcon" class="favorite" *ngIf="favoriteOff" (click)="favorite()" >
      <input type="image" src="../../../../assets/icons/heartIconFull.png" alt="heartIcon" class="favorite" *ngIf="favoriteOn" (click)="noFavorite()">
      <ul class="infos">
        <li><h2 class="userName">Nome do Usuário - UF</h2></li>
        <li class="info">Título oferecido:</li>
        <li class="info">Título procurado:</li>
        <li class="info">Urgência:</li>
      </ul>
    </div>

    <div class="bookContainer ">
      <div class="bookImage"></div>
      <input type="image" src="../../../../assets/menuIcons/hearthIcon.png" alt="heartIcon" class="favorite" *ngIf="favoriteOff" (click)="favorite()" >
      <input type="image" src="../../../../assets/icons/heartIconFull.png" alt="heartIcon" class="favorite" *ngIf="favoriteOn" (click)="noFavorite()">
      <ul class="infos">
        <li><h2 class="userName">Nome do Usuário - UF</h2></li>
        <li class="info">Título oferecido:</li>
        <li class="info">Título procurado:</li>
        <li class="info">Urgência:</li>
      </ul>
    </div>

    <div class="bookContainer ">
      <div class="bookImage"></div>
      <input type="image" src="../../../../assets/menuIcons/hearthIcon.png" alt="heartIcon" class="favorite" *ngIf="favoriteOff" (click)="favorite()" >
      <input type="image" src="../../../../assets/icons/heartIconFull.png" alt="heartIcon" class="favorite" *ngIf="favoriteOn" (click)="noFavorite()">
      <ul class="infos">
        <li><h2 class="userName">Nome do Usuário - UF</h2></li>
        <li class="info">Título oferecido:</li>
        <li class="info">Título procurado:</li>
        <li class="info">Urgência:</li>
      </ul>
    </div>

    <div class="bookContainer ">
      <div class="bookImage"></div>
      <input type="image" src="../../../../assets/menuIcons/hearthIcon.png" alt="heartIcon" class="favorite" *ngIf="favoriteOff" (click)="favorite()" >
      <input type="image" src="../../../../assets/icons/heartIconFull.png" alt="heartIcon" class="favorite" *ngIf="favoriteOn" (click)="noFavorite()">
      <ul class="infos">
        <li><h2 class="userName">Nome do Usuário - UF</h2></li>
        <li class="info">Título oferecido:</li>
        <li class="info">Título procurado:</li>
        <li class="info">Urgência:</li>
      </ul>
    </div>

    <div class="bookContainer ">
      <div class="bookImage"></div>
      <input type="image" src="../../../../assets/menuIcons/hearthIcon.png" alt="heartIcon" class="favorite" *ngIf="favoriteOff" (click)="favorite()" >
      <input type="image" src="../../../../assets/icons/heartIconFull.png" alt="heartIcon" class="favorite" *ngIf="favoriteOn" (click)="noFavorite()">
      <ul class="infos">
        <li><h2 class="userName">Nome do Usuário - UF</h2></li>
        <li class="info">Título oferecido:</li>
        <li class="info">Título procurado:</li>
        <li class="info">Urgência:</li>
      </ul>
    </div>

    <div class="bookContainer ">
      <div class="bookImage"></div>
      <input type="image" src="../../../../assets/menuIcons/hearthIcon.png" alt="heartIcon" class="favorite" *ngIf="favoriteOff" (click)="favorite()" >
      <input type="image" src="../../../../assets/icons/heartIconFull.png" alt="heartIcon" class="favorite" *ngIf="favoriteOn" (click)="noFavorite()">
      <ul class="infos">
        <li><h2 class="userName">Nome do Usuário - UF</h2></li>
        <li class="info">Título oferecido:</li>
        <li class="info">Título procurado:</li>
        <li class="info">Urgência:</li>
      </ul>
    </div>

    <div class="bookContainer ">
      <div class="bookImage"></div>
      <input type="image" src="../../../../assets/menuIcons/hearthIcon.png" alt="heartIcon" class="favorite" *ngIf="favoriteOff" (click)="favorite()" >
      <input type="image" src="../../../../assets/icons/heartIconFull.png" alt="heartIcon" class="favorite" *ngIf="favoriteOn" (click)="noFavorite()">
      <ul class="infos">
        <li><h2 class="userName">Nome do Usuário - UF</h2></li>
        <li class="info">Título oferecido:</li>
        <li class="info">Título procurado:</li>
        <li class="info">Urgência:</li>
      </ul>
    </div>


  </section>

</section>





