@import '../../../../config-scss/rem-calc.scss';
@import '../../../../config-scss/animation.scss';
@import '../../../../config-scss/reset.scss';
@import '../../../../config-scss/variables.scss';

:host{

  .title{
    display: flex;
    flex-direction: column;
    margin: rem-calc(10) rem-calc(10);
    align-items: center;
    padding: rem-calc(10);
    font-weight: 500;
    color: rgba(255, 255, 255);
    font-size: rem-calc(22);
    min-width: rem-calc(320);
  }

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bookContainer{
      display:flex;
      flex-direction: row;
      width: 85%;
      min-width: rem-calc(320);
      background: var(--secondBlack);
      height: rem-calc(150);
      padding: rem-calc(15);
      border-radius: rem-calc(5);
      margin: rem-calc(10);

      .bookImage{
        display: relative;
        background-color: var(--grey);
        width: rem-calc(150);
        border-radius: rem-calc(5) 0 0 rem-calc(5);
        height: 120%;
        margin: rem-calc(-15);
      }

      .favorite{
        display: flex;
        position: relative;
        left: 86%;
        width: rem-calc(30);
        height: rem-calc(30);
      }


      .infos{
        display: relative;
        margin: rem-calc(20);
        margin-left: rem-calc(40);
        color: rgba(255, 255, 255);
        font-weight: 300;


        .userName{
          font-size: rem-calc(30);
          margin-bottom: rem-calc(15);
          font-weight: 400;
          margin-left: rem-calc(9);
        }

        .info{
          margin: rem-calc(10);
        }
      }

    }

  }



  @media (max-width:800px){

    .userName{
      font-size: rem-calc(13);
      margin-bottom: rem-calc(5);
      font-weight: 200;
      margin-left: rem-calc(9);

    }
      .infos{
        font-size: rem-calc(12);
      }

  }

  @media (max-width: 450px){

    .userName{
      margin-bottom: rem-calc(5);
      font-weight: 200;
      margin-left: rem-calc(9);
      margin-top: rem-calc(-15);

    }
      .infos{
        font-size: rem-calc(12);

      }
  }
}
