

<section class="formMain">
  <img class="logo" src="../../../../assets/trocaLivro.png" alt="troca_livro">
  <form Class="loginForm">
    <input class="formPlaceEmail" type="email" placeholder="Type your email">
    <input class="formPlacePassword" type="password" placeholder="Type your password">
    <a url="http://localhost:4200" class="link" >Esqueci minha senha</a>
    <a url="http://localhost:4200" class="link2" >É novo por aqui? cadastre-se aqui!</a>
    <button class="btnLogin" type="submit"> login</button>


  </form>

</section>

