

<section class="formMain">
  <img class="logo" src="../../../../assets/trocaLivro.png" alt="troca_livro">
  <section Class="loginForm">
    <form >
      <input class="formPlaceEmail" type="email" placeholder="Type your email">
      <input class="formPlacePassword" type="password" placeholder="Type your password"><br>
      <a url="" class="link" >Esqueci minha senha</a><br>
      <a url="" class="link" >É novo por aqui? cadastre-se!</a><br>
      <button class="btnLogin" type="submit"> login</button>


    </form>
  </section>

</section>

