@import './config-scss/rem-calc.scss';
@import './config-scss/reset.scss';
@import './config-scss/variables.scss';
//@import '~bootstrap/dist/css/bootstrap.min.css';

html{
  background: var(--black);
  font-family: 'Roboto', sans-serif;
}

main{
  margin: 0 auto;
  box-sizing: border-box;
  max-width: rem-calc(800);
}
